<%- include('../partials/head') %>
<body>
    <%- include('../partials/headerNav') %>
    
    <!-- Productos aleatorios -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Cocina / Sartenes</h2>
            </div>
            
            
            <div class="col-6 col-sm-4 col-lg-3">
                <section class="product-box">
                    <a href="#">
                        <figure class="product-box_image">
                            <img src="/images/products/sarten-antiadherente-24cm.jpg" alt="imagen de sarten antiadherente 24cm">
                        </figure>
                        <article class="product-box_data">
                            <h2>$5000</h2>
                            <span>10% OFF</span>
                            <p>Sarten cerámico antiadherente - 24cm diámetro</p>
                        </article>
                        <a href="/products"><i class="fas fa-cart-plus"></i></a>
                    </a>
                </section>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <section class="product-box">
                    <a href="#">
                        <figure class="product-box_image">
                            <img src="/images/products/sarten-antiadherente-26cm.jpg" alt="imagen de sarten antiadherente 26cm">
                        </figure>
                        <article class="product-box_data">
                            <h2>$5000</h2>
                            <span>10% OFF</span>
                            <p>Sarten cerámico antiadherente - 26cm diámetro</p>
                        </article>
                        <a href="/products"><i class="fas fa-cart-plus"></i></a>
                    </a>
                </section>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <section class="product-box">
                    <a href="#">
                        <figure class="product-box_image">
                            <img src="/images/products/sarten-antiadherente-28cm.jpg" alt="imagen de sarten antiadherente 28cm">
                        </figure>
                        <article class="product-box_data">
                            <h2>$5000</h2>
                            <span>10% OFF</span>
                            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
                        </article>
                        <a href="/products"><i class="fas fa-cart-plus"></i></a>
                    </a>
                </section>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <section class="product-box">
                    <a href="#">
                        <figure class="product-box_image">
                            <img src="/images/products/cacerola-antiadherente-x3.jpg" alt="imagen de set antiadherente 3 piezas">
                        </figure>
                        <article class="product-box_data">
                            <h2>$5000</h2>
                            <span>10% OFF</span>
                            <p>Set antiadherente con tapa de vidrio - 3 piezas 20, 24 y 24cm</p>
                        </article>
                        <a href="/products"><i class="fas fa-cart-plus"></i></a>
                    </a>
                </section>
            </div>
            <!-- /Productos aleatorios -->
        </div>
    </div>
    
    <%- include('../partials/footer') %>
</body>
</html>