<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pick Bazar</title>
  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- Bootstrap Grid Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
  <!-- Own Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>

<body>
  <!--<p><a href='/products'>Todos los productos</a></p>
    <p><a href='/products/detail/1'>Producto 1</a></p>
    <p><a href='/products/create'>Formulario Crear</a></p>
  -->
  <header class="main-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 news">
          <h3>Durante la cuarentena 3 cuotas sin interes</h3>
        </div>
      </div>
    </div>
    
    <div class="container">  
      <div class="row" style="border-bottom: solid 1px #999;">
        
        <div class="col-3 col-md-2">
          <a href="/" class="main-header_home-link">
            <img src="/images/logo-pickBazar.jpg">
          </a>
        </div>
        
        <div class="offset-1 col-8 col-md-9">
          <div class="row search">
            
            <form action="/search" method="GET" class="search-form">
              <input type="text" name="keywords" placeholder="Buscar" class="search-form_input">
              <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
            
            
            <button class="btn-toggle-navbar">
              <i class="fas fa-bars"></i>
            </button>
            
            <a href="#">Login <i class="fas fa-address-card"></i></a>
            
            <a class="cart" href="#">Carrito <i class="fas fa-shopping-cart"></i></a>
          </div>
          
          <nav class="row">
            <ul class="col-md-12 col-lg-9 main-navbar">
              <li><a href="#">COCINA</a></li>
              <li><a href="#">BAÑO</a></li>
              <li><a href="#">DECORACIÓN</a></li>
              <li><a href="#">ARTÍCULOS LIMPIEZA</a></li>
              <li><a href="#">PROMOCIONES</a></li>
            </ul>
          </nav>
          
          <div class="cocina">
            <ul>
              <li><a href="#">CACEROLAS</a></li>
              <li><a href="#">PAVAS</a></li>
              <li><a href="#">JARROS</a></li>
              <li><a href="#">FRASCOS</a></li>
              <li><a href="#">SARTENES</a></li>
              <li><a href="#">ACCESORIOS</a></li>
            </ul>
          </div>
          <div class="baño">
            <ul>
              <li><a href="#">CESTOS</a></li>
              <li><a href="#">CANASTOS</a></li>
              <li><a href="#">ALFOMBRAS</a></li>
              <li><a href="#">LIMAS</a></li>
              <li><a href="#">ESPONJAS</a></li>
            </ul>
          </div>
          <div class="decoracion">
            <ul>
              <li><a href="#">RELOJES</a></li>
              <li><a href="#">ESPEJOS</a></li>
              <li><a href="#">CUADROS</a></li>
              <li><a href="#">VELAS</a></li>
              <li><a href="#">FAROLES</a></li>
            </ul>
          </div>
          <div class="limpieza">
            <ul>
              <li><a href="#">MOPAS</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="banner"></div>

<!-- Productos aleatorios -->
<div class="container products-wrapper">
  <div class="row">
    <div class="col-12">
      <h2 class="products-title">Selección de productos</h2>
    </div>
    
    <!-- Show the "visited" products -->
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <a href="/products"><i class="fas fa-cart-plus"></i></a>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <a href="/products"><i class="fas fa-cart-plus"></i></a>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <a href="/products"><i class="fas fa-cart-plus"></i></a>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <a href="/products"><i class="fas fa-cart-plus"></i></a>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <a href="/products"><i class="fas fa-cart-plus"></i></a>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <a href="/products"><i class="fas fa-cart-plus"></i></a>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <a href="/products"><i class="fas fa-cart-plus"></i></a>
        </a>
      </section>
    </div>
    
    <div class="col-12">
      <h2 class="products-title">Últimos lanzamientos</h2>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <i class="fas fa-cart-plus"></i>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <i class="fas fa-cart-plus"></i>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <i class="fas fa-cart-plus"></i>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="#">
          <figure class="product-box_image">
            <img src="/images/products/sarten_antiadherente_28.jpg" alt="imagen de sarten antiadherente 28cm">
          </figure>
          <article class="product-box_data">
            <h2>$5000</h2>
            <span>10% OFF</span>
            <p>Sarten cerámico antiadherente - 28cm diámetro</p>
          </article>
          <i class="fas fa-cart-plus"></i>
        </a>
      </section>
    </div>
  </div>
</div>
<!-- /Productos aleatorios -->

</body>
</html>
