<!DOCTYPE html>
<html>
  <head>
    <title>Pick Bazar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Menu</h1>
    <p><a href='/products'>Todos los productos</a></p>
    <p><a href='/products/detail/1'>Producto 1</a></p>
    <p><a href='/products/create'>Formulario Crear</a></p>
  </body>
</html>
