<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pick Bazar</title>
  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- Bootstrap Grid Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
  <!-- Own Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    .blue{
      background-color: #18A0FD;
      height: 30px;
    }
    .black{
      background-color:black;
    
    }
    .btn-login{
      font-weight: bold;
      font-size: 18px;
      width: 300px;
      line-height: 29px;
      color: #FFFFFF;
      margin: 6px;
      height: 30px;
    }
    .login-box{
     /* background-color:#EDEFEF;*/
      margin:5px;
      padding:5px;
      width: 100%;
      align-items: center;
    }
    hr{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    label
    {
      font-weight: 400;
      margin-top: 6px;
      height: 25px;
    }
    input{
      width: 400px;
      height: 25px;
    
      margin-bottom: 6px;
    }
    .input-login{
      width: 200px;
      height: 25px;
    
      margin-bottom: 6px;
    }
  </style>
  <style>
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 50px; /* Location of the box */
      left: 50;
      top: 0;
      width: 480px; /* Full width */
      height: 500px; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    .orange{
      color:#F58220;
    }
    .marginFooter{
  margin-bottom: 60px;
}
    </style>
</head>

<body>
  <%- include('./partials/headerNav') %>
 
  <button id="myBtn">VER Login</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    
<div class="container">
<div class="row">
  <div class="col-12"><h1>INGRESÁ A TU CUENTA</h1></div>
  <section>
    <form action="/action_page.php">
      <label for="email">Email:</label><br>
      <input class="input-login" type="email" required id="email" name="email" value=""><br>
      <label for="password">Contraseña:</label><br>
      <input  class="input-login" type="password" required id="password" name="password"><br><br>
      <div><a href="/forgotPass"><h3>¿Olvidaste tu contraseña?</h3></a></div>
      <input class="btn-login black" type="submit" value="INGRESAR">
      <p><a href="/login"><h3>¿Todavía no estás registrado? Hacé clic acá.</h3></a></p>
    </form> 
    <div> <input type="submit" class="btn-login blue" value="INGRESAR CON FACEBOOK"></div>
    <div> <input type="submit" class="btn-login blue" value="INGRESAR CON GOOGLE+"></div>
</section>

</div>
  
</div>

    
  </div>

</div>
<!--END The Modal -->

<div class="container marginFooter">
  <div class="row">
    <div class="col-12">
      <h1>CREAR NUEVA CUENTA DE CLIENTE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="submit" class="btn-login blue" value="REGISTRAR CON FACEBOOK">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="submit" class="btn-login blue" value="REGISTRAR CON GOOGLE+">
    </div>
  </div>
   <div><HR style="height:1px;border-width:0;color:gray;background-color:gray"></HR></div>
   
   <section>
      <form action="/action_page.php">
        <label for="nombre"><h4>Nombre:</h4></label><br>
        <input type="nombre" required id="nombre" name="nombre" value=""><br>
        <label for="apellido"><h4>Apellido:</h4></label><br>
        <input type="apellido" required id="apellido" name="apellido" value=""><br>
        <label for="email"><h4>Email:</h4></label><br>
        <input type="email" required id="email" name="email" value=""><br>
        <label for="tel"><h4>Telefono:</h4></label><br>
        <input type="tel" required id="tel" name="tel" value=""><br>
        <label for="password"><h4>Contraseña:</h4></label><br>
        <input type="password" required id="password" name="password"><br><br>
        <input class="btn-login black" type="submit" value="CREAR CUENTA">
      </form> 
    
    </section>
  </div>
  <%- include('./partials/footer') %>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
</body>
</html>

