<% cat.forEach(function(category){ %>
              <div class="main-navbar">
                <a href="/products/category/<%=category.id%>"><%=category.name.toUpperCase()%></a>
                <ul class="generico">
                  <% subCat.forEach(function(subCategory){ %>
                    <%if(subCategory.category_id==category.id){%>
                    <li></li><a href="/products/subCategory/<%=subCategory.id%>"><%=subCategory.name.toUpperCase()%></a></li>
                    <%}%>
                  <%})%>
                </ul>
              </div>
            <%})%>
            