<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-6 col-lg-4">
          <article class="footer-data">
            <h2>COMPRÁ  <i class="fas fa-shopping-bag"></i></h2>
            <ul>
              <li><a href="#">Cocina</a></li>
              <li><a href="#">Baño</a></li>
              <li><a href="#">Decoración</a></li>
              <li><a href="#">Artículos limpieza</a></li>
              <li><a href="#">promociones</a></li>
            </ul>
          </article>
        </div>
        <div class="col-6 col-lg-4">
          <article class="footer-data">
            <h2>CONTACTO  <i class="fas fa-id-card"></i></h2>
            <ul>
              <li><a href="mailto:info@pickbazar.com.ar">info@pickbazar.com.ar</a></li>
              <li><a href="tel:+541143708900">+54 11 4370 8900</a></li>
            </ul>
          </article>
          <article class="footer-data">
            <a href="https://www.facebook.com/pickbazar"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/pickbazar/"><i class="fab fa-instagram"></i></a>
          </article>
        </div>
        <div class="col-6 col-lg-4">
          <article class="footer-data">
            <h2>NOSOTROS  <i class="fas fa-users"></i></h2>
            <ul>
              <li><a href="#">Conocenos</a></li>
              <li><a href="#">F.A.Q.</a></li>
            </ul>
            </article>
          </div>
      </div>
    </div>
  </footer>
  <div class="sub-footer">
    <div class="container">
      <p>Copyright 3Group.TT14 © 2020 </p>
    </div>
  </div>