  <!-- /Newsletter -->
  <section class="main-newsletter">
    <div class="container">

      <div class="row">
        <div class="col-12">
          <h3>Suscribite a nuestro newsletter y recibí novedades de descuentos y productos</h3>
        </div>
      </div>
      <div class="row">
        <div class=" col-12 newsletter">
          <form action="/newslleter" method="POST" class="newsletter-form">
            <input type="email" name="subscribe" placeholder="Ingresa tu email" class="newsletter_input">
            <button type="submit" class="newsletter-form_button">Enviar <i class="far fa-paper-plane"></i></button>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!--/Newsletter-->
  <!--/Footer-->
  <footer class="main-footer">
    <div class="container">
      <div class="row">

        <div class="col-4 col-lg-4">
          <div class="center-data">
            <article class="footer-data">
              <h2>COMPRÁ <i class="fas fa-shopping-bag"></i></h2>
              <ul>
                <li><a href="/products/category/cocina">Cocina</a></li>
                <li><a href="/products/category/baño">Baño</a></li>
                <li><a href="/products/category/decoracion">Decoración</a></li>
                <li><a href="/products/category/limpieza">Artículos limpieza</a></li>
                <li><a href="/products/category/promocion">promociones</a></li>
              </ul>
            </article>
          </div>
        </div>

        <div class="col-4 col-lg-4">
          <div class="center-data">
            <article class="footer-data">
              <h2>CONTACTO <i class="fas fa-id-card"></i></h2>
              <ul>
                <li><a href="mailto:info@pickbazar.com.ar">info@pickbazar.com.ar</a></li>
                <li><a href="tel:+541143708900">+54 11 4370 8900</a></li>
                <li>
                  <a href="https://www.facebook.com/pickbazar" style="margin-right: 5px;"><i
                      class="fab fa-facebook"></i></a>
                  <a href="https://www.instagram.com/pickbazar/" style="margin-left: 5px;"><i
                      class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </article>
          </div>
        </div>
        <div class="col-4 col-lg-4">
          <div class="center-data">
            <article class="footer-data">
              <h2>ABOUT US <i class="fas fa-users"></i></h2>
              <ul>
                <li><a href="#">Conocenos</a></li>
                <li><a href="#">F.A.Q.</a></li>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="sub-footer">
    <div class="container">
      <p>Copyright 3Group.TT14 © 2020 </p>
    </div>
  </div>
  <!--/Footer-->