<header class="main-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 news">
          <h3>Durante la cuarentena 3 cuotas sin interes</h3>
        </div>
      </div>
<<<<<<< HEAD
      
=======
    </div>
    
    <div class="container">  
>>>>>>> a15fa7c8a17608f0dbdf1811116aac128a40cbb3
      <div class="row" style="border-bottom: solid 1px #999;">
        
        <div class="col-3 col-md-2">
          <a href="/" class="main-header_home-link">
            <img src="/images/logo-pickBazar.jpg">
          </a>
        </div>
        
        <div class="offset-1 col-8 col-md-9">
          <div class="row search">
            
            <form action="/search" method="GET" class="search-form">
              <input type="text" name="keywords" placeholder="Buscar" class="search-form_input">
              <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
            
            
            <button class="btn-toggle-navbar">
              <i class="fas fa-bars"></i>
            </button>
            
<<<<<<< HEAD
            <a href="#">Login <i class="fas fa-sign-in-alt"></i></a>
            
            <a class="cart" href="#">Carrito <i class="fas fa-shopping-basket"></i></a>
=======
            <a href="/login">Login <i class="fas fa-address-card"></i></a>
            
            <a class="cart" href="#">Carrito <i class="fas fa-shopping-cart"></i></a>
>>>>>>> a15fa7c8a17608f0dbdf1811116aac128a40cbb3
          </div>
          
          <nav class="row">
            <ul class="col-md-12 col-lg-9 main-navbar">
              <li><a href="#">COCINA</a></li>
              <li><a href="#">BAÑO</a></li>
              <li><a href="#">DECORACIÓN</a></li>
              <li><a href="#">ARTÍCULOS LIMPIEZA</a></li>
              <li><a href="#">PROMOCIONES</a></li>
            </ul>
          </nav>
          
          <div class="cocina">
            <ul>
              <li><a href="#">CACEROLAS</a></li>
              <li><a href="#">PAVAS</a></li>
              <li><a href="#">JARROS</a></li>
              <li><a href="#">FRASCOS</a></li>
              <li><a href="#">SARTENES</a></li>
              <li><a href="#">ACCESORIOS</a></li>
            </ul>
          </div>
          <div class="baño">
            <ul>
              <li><a href="#">CESTOS</a></li>
              <li><a href="#">CANASTOS</a></li>
              <li><a href="#">ALFOMBRAS</a></li>
              <li><a href="#">LIMAS</a></li>
              <li><a href="#">ESPONJAS</a></li>
            </ul>
          </div>
          <div class="decoracion">
            <ul>
              <li><a href="#">RELOJES</a></li>
              <li><a href="#">ESPEJOS</a></li>
              <li><a href="#">CUADROS</a></li>
              <li><a href="#">VELAS</a></li>
              <li><a href="#">FAROLES</a></li>
            </ul>
          </div>
          <div class="limpieza">
            <ul>
              <li><a href="#">MOPAS</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>