<header class="main-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 news">
        <h3>Durante la cuarentena 3 cuotas sin interes</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="border-bottom: solid 1px #999;padding-bottom: 15px;">

      <div class="col-3 col-md-2">
        <a href="/" class="main-header_home-link">
          <img src="/images/logo-pickBazar.jpg">
        </a>
      </div>

      <div class="offset-1 col-8 col-md-9">
        <div class="row search">

          <div class="col-9 col-md-9">
            <form action="/search" method="GET" class="search-form">
              <input type="text" name="keywords" placeholder="Buscar" class="search-form_input">
              <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
          </div>

          <button class="offset-1 col-2 btn-toggle-navbar">
            <i class="fas fa-bars"></i>
          </button>

          <div class="col-9 col-md-3 login-cart">
            <a href="/login">Login <i class="fas fa-address-card"></i></a>

            <a class="cart" href="#">Carrito <i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>

        <nav class="row">
          <div class="col-md-9 menu-wrapper">
            <div class="main-navbar">
              <a href="#">COCINA</a>
              <ul class="cocina">
                <li><a href="#">CACEROLAS</a></li>
                <li><a href="#">PAVAS</a></li>
                <li><a href="#">JARROS</a></li>
                <li><a href="#">FRASCOS</a></li>
                <li><a href="#">SARTENES</a></li>
                <li><a href="#">ACCESORIOS</a></li>
              </ul>
            </div>

            <div class="main-navbar">
              <a href="#">BAÑO</a>
              <ul class="baño">
                <li><a href="#">CESTOS</a></li>
                <li><a href="#">CANASTOS</a></li>
                <li><a href="#">ALFOMBRAS</a></li>
                <li><a href="#">LIMAS</a></li>
                <li><a href="#">ESPONJAS</a></li>
              </ul>
            </div>

            <div class="main-navbar">
              <a href="#">DECORACIÓN</a>
              <ul class="decoracion">
                <li><a href="#">RELOJES</a></li>
                <li><a href="#">ESPEJOS</a></li>
                <li><a href="#">CUADROS</a></li>
                <li><a href="#">VELAS</a></li>
                <li><a href="#">FAROLES</a></li>
              </ul>
            </div>

            <div class="main-navbar">
              <a href="#">LIMPIEZA</a>
              <ul class="limpieza">
                <li><a href="#">MOPAS</a></li>
              </ul>
            </div>

            <div class="main-navbar">
              <a href="#">PROMOCIONES</a>
            </div>

            <div class="main-navbar">
              <a style="color:var(--light-orange);" href="#">ADMINISTRADOR</a>
            </div>
          </div>
        </nav>

        <nav class="mobile-navbar">
          <span><a href="#">
              <h3>COCINA</h3>
            </a>
            <h3>>></h3>
          </span>

          <ul class="cocina">
            <li><a href="#">CACEROLAS</a></li>
            <li><a href="#">PAVAS</a></li>
            <li><a href="#">JARROS</a></li>
            <li><a href="#">FRASCOS</a></li>
            <li><a href="#">SARTENES</a></li>
            <li><a href="#">ACCESORIOS</a></li>
          </ul>

          <span><a href="#">
            <h3>BAÑO</h3>
          </a>
          <h3>>></h3>
        </span>
          <ul class="baño">
            <li><a href="#">CESTOS</a></li>
            <li><a href="#">CANASTOS</a></li>
            <li><a href="#">ALFOMBRAS</a></li>
            <li><a href="#">LIMAS</a></li>
            <li><a href="#">ESPONJAS</a></li>
          </ul>

          <span><a href="#">
              <h3>DECORACIÓN</h3>
            </a>
            <h3>>></h3>
          </span>
          <ul class="decoracion">
            <li><a href="#">RELOJES</a></li>
            <li><a href="#">ESPEJOS</a></li>
            <li><a href="#">CUADROS</a></li>
            <li><a href="#">VELAS</a></li>
            <li><a href="#">FAROLES</a></li>
          </ul>

          <span><a href="#">
              <h3>LIMPIEZA</h3>
            </a>
            <h3>>></h3>
          </span>
          <ul class="limpieza">
            <li><a href="#">MOPAS</a></li>
          </ul>

          <span><a href="#">
              <h3>PROMOCIONES</h3>
            </a>
            <h3>>></h3>
          </span>
          <span><a style="color:var(--light-orange);" href="#">
            <h3>ADMINISTRADOR</h3>
          </a>
          <h3 style="color:var(--light-orange);">>></h3>
        </span>
          

      </div>
    </div>
  </div>
</header>
