<header class="main-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 news">
        <h3>Durante la cuarentena 3 cuotas sin interes</h3>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row" style="border-bottom: solid 1px #999;padding-bottom: 15px;">
      
      <div class="col-3 col-md-2">
        <a href="/" class="main-header_home-link">
          <img src="/images/logo-pickBazar.jpg">
        </a>
      </div>
      
      <div class="offset-1 col-8 col-md-9">
        <div class="row search">
          
          <div class="col-9 col-md-9">
            <form action="/search" method="GET" class="search-form">
              <input type="text" name="keywords" placeholder="Buscar" class="search-form_input">
              <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
          </div>
          
          <button class="offset-1 col-2 btn-toggle-navbar">
            <i class="fas fa-bars"></i>
          </button>
          
          <div class="col-9 col-md-3 login-cart">
            <a href="/users/login">Login <i class="fas fa-address-card"></i></a>
            <a class="cart" href="/cart">Carrito <i class="fas fa-shopping-cart"></i></a>
            
          </div>
        </div>
        
        <nav class="row">
          <div class="col-md-9 menu-wrapper">
            
            <div class="main-navbar">
              <a href="/products">CATÁLOGO</a>
            </div>
            
            <div class="main-navbar">
              <a href="/products/category/cocina">COCINA</a>
              <ul class="cocina">
                <li><a href="/products/subCategory/cacerola">CACEROLAS</a></li>
                <li><a href="/products/subCategory/pava">PAVAS</a></li>
                <li><a href="/products/subCategory/jarro">JARROS</a></li>
                <li><a href="/products/subCategory/frasco">FRASCOS</a></li>
                <li><a href="/products/subCategory/sarten">SARTENES</a></li>
                <li><a href="/products/subCategory/accesorio">ACCESORIOS</a></li>
              </ul>
            </div>
            
            <div class="main-navbar">
              <a href="/products/category/baño">BAÑO</a>
              <ul class="baño">
                <li><a href="/products/subCategory/cesto">CESTOS</a></li>
                <li><a href="/products/subCategory/canasto">CANASTOS</a></li>
                <li><a href="/products/subCategory/alfombra">ALFOMBRAS</a></li>
                <li><a href="/products/subCategory/lima">LIMAS</a></li>
                <li><a href="/products/subCategory/esponja">ESPONJAS</a></li>
              </ul>
            </div>
            
            <div class="main-navbar">
              <a href="/products/category/decoracion">DECORACIÓN</a>
              <ul class="decoracion">
                <li><a href="/products/subCategory/reloj">RELOJES</a></li>
                <li><a href="/products/subCategory/espejo">ESPEJOS</a></li>
                <li><a href="/products/subCategory/cuadro">CUADROS</a></li>
                <li><a href="/products/subCategory/vela">VELAS</a></li>
                <li><a href="/products/subCategory/farol">FAROLES</a></li>
              </ul>
            </div>
            
            <div class="main-navbar">
              <a href="/products/category/limpieza">LIMPIEZA</a>
              <ul class="limpieza">
                <li><a href="/products/subCategory/mopa">MOPAS</a></li>
              </ul>
            </div>
            
            <div class="main-navbar">
              <a href="/products/category/promocion">PROMOCIONES</a>
            </div>
            
            <div class="main-navbar">
              <a style="color:#f1b580;" href="/products/create" target="_blank">ADMINISTRADOR</a>
            </div>
          </div>
        </nav>
        
        <nav class="mobile-navbar">
          <span><a href="/products/category/cocina">
            <h3>COCINA</h3>
          </a>
          <h3>>></h3>
        </span>
        
        <ul class="cocina">
          <li><a href="/products/subCategory/cacerola">CACEROLAS</a></li>
          <li><a href="/products/subCategory/pava">PAVAS</a></li>
          <li><a href="/products/subCategory/jarro">JARROS</a></li>
          <li><a href="/products/subCategory/frasco">FRASCOS</a></li>
          <li><a href="/products/subCategory/sarten">SARTENES</a></li>
          <li><a href="/products/subCategory/accesorio">ACCESORIOS</a></li>
        </ul>
        
        <span><a href="/products/category/baño">
          <h3>BAÑO</h3>
        </a>
        <h3>>></h3>
      </span>
      <ul class="baño">
        <li><a href="/products/subCategory/cesto">CESTOS</a></li>
        <li><a href="/products/subCategory/canasto">CANASTOS</a></li>
        <li><a href="/products/subCategory/alfombra">ALFOMBRAS</a></li>
        <li><a href="/products/subCategory/lima">LIMAS</a></li>
        <li><a href="/products/subCategory/esponja">ESPONJAS</a></li>
      </ul>
      
      <span><a href="/products/category/decoracion">
        <h3>DECORACIÓN</h3>
      </a>
      <h3>>></h3>
    </span>
    <ul class="decoracion">
      <li><a href="/products/subCategory/reloj">RELOJES</a></li>
      <li><a href="/products/subCategory/espejo">ESPEJOS</a></li>
      <li><a href="/products/subCategory/cuadro">CUADROS</a></li>
      <li><a href="/products/subCategory/vela">VELAS</a></li>
      <li><a href="/products/subCategory/farol">FAROLES</a></li>
    </ul>
    
    <span><a href="/products/category/limpieza">
      <h3>LIMPIEZA</h3>
    </a>
    <h3>>></h3>
  </span>
  <ul class="limpieza">
    <li><a href="/products/subCategory/mopa">MOPAS</a></li>
  </ul>
  
  <span><a href="/products/category/promocion">
    <h3>PROMOCIONES</h3>
  </a>
  <h3>>></h3>
</span>
<span><a style="color:#f1b580" href="/products/create"target="_blank">
  <h3>ADMINISTRADOR</h3>
</a>
<h3 style="color:#f1b580">>></h3>
</span>


</div>
</div>
</div>
</header>
