<div class="button-box">
    <button class="slide-button"></button>
    <button class="slide-button"></button>
    <button class="slide-button"></button>
    <button class="slide-button"></button>
    <button class="slide-button"></button>
</div>